.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Salem ELA Library
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        if user && user.name === "Ms Tran the Almighty Book Collector"
          li.nav-item(class=(title === 'Generate QR Code') ? 'active' : undefined)
            a.nav-link(href='/generateQr') Generate QR Code
        li.nav-item(class=(title === 'Book Check Out') ? 'active' : undefined)
          a.nav-link(href='/checkOut') Book Check Out
        li.nav-item(class=(title === 'Book Returns') ? 'active' : undefined)
          a.nav-link(href='/checkIn') Book Returns
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          span.navbar-text=user.name + " " + user.userId
          li.nav-item(class=(title === 'Logout') ? 'active' : undefined)
            a.nav-link(href='/logout') Logout